@import url(../css/fonts.css);
* {
  box-sizing: border-box;
}
body {
  font-size: 10px;
  position: relative;
}
.header {
  display: block;
  width: 100%;
  height: 700px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.header-nav {
  display: block;
  width: 100%;
  margin-top: 2rem;
}
.header-nav-link {
  display: block;
}
.header-nav-link .header-nav_logo {
  height: 3rem;
  width: 3rem;
  background: url(../img/logo.png) no-repeat center center;
  background-size: cover;
  transition: all 0.5s;
}
.header-nav-link .header-nav_logo:hover {
  transform: scale(1.2, 1.2);
}
.header-nav-menu {
  height: 70px;
  display: block;
  margin-top: 1rem;
}
.header-nav-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.header-nav-menu ul li {
  display: flex;
}
.header-nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'ComfortaaBold';
  font-size: 0.8rem;
  position: relative;
}
.header-nav-menu ul li a:hover:before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
}
.header-nav-menu ul li a:hover:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 1.1rem;
  left: 0;
  background-color: #fff;
}
.header-nav_social {
  display: flex;
  flex-direction: column;
}
.header-nav_social a {
  text-decoration: none;
  color: #fff;
  margin-top: 0.2rem;
  transition: all 0.2s;
}
.header-nav_social a:hover {
  color: #e6e6e6;
}
.header-img {
  display: block;
  margin: 0 auto;
  position: relative;
}
.header-img_img {
  display: block;
  margin: 0 auto;
  width: 50rem;
  height: 25rem;
  background: url(../img/flower.png) no-repeat center center;
  background-size: cover;
}
.header-img_title {
  display: block;
  position: absolute;
  left: 35%;
  top: 70%;
  font-size: 2rem;
  color: #fcfd71;
  text-align: center;
  font-family: 'ComfortaaLight';
}
.main-page {
  display: block;
  margin: 0 auto;
}
.main-page .buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 4rem;
}
.main-page .buttons .button {
  display: block;
}
.main-page .buttons .button_link {
  text-decoration: none;
  display: block;
  width: 14rem;
  color: #0080ff;
  border: 2px solid #0080ff;
  font-size: 1.5rem;
  font-family: 'ComfortaaRegular';
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
}
.main-page .buttons .button_link:hover {
  color: #004d99;
  border: 2px solid #004d99;
  transition: all 0.5s;
}
.main-page-items {
  margin-top: 3rem;
  display: flex;
  width: 100%;
}
.main-page-items .items-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-page-items .items-left .item-1 {
  background: url(../img/firm-style.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-left .item-2 {
  background: url(../img/card-4.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-left .item-3 {
  background: url(../img/card-3.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-left .item-4 {
  background: url(../img/medicine.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-left .item-5 {
  background: url(../img/coctail.jpg) no-repeat center center;
  background-size: 105%;
}
.main-page-items .items-left .item-6 {
  background: url(../img/with_dog.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-page-items .items-center .item-7 {
  background: url(../img/london.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-center .item-8 {
  background: url(../img/111.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-center .item-9 {
  background: url(../img/Party.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-center .item-10 {
  background: url(../img/impossible.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-center .item-11 {
  background: url(../img/1coffee.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-center .item-12 {
  background: url(../img/card-2.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.main-page-items .items-right .item-13 {
  background: url(../img/screen.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-right .item-14 {
  background: url(../img/card-2.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-right .item-15 {
  background: url(../img/iam.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-right .item-16 {
  background: url(../img/cards.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-right .item-17 {
  background: url(../img/vizitttka.jpg) no-repeat center center;
  background-size: cover;
}
.main-page-items .items-right .item-18 {
  background: url(../img/logo_wilio.jpg) no-repeat center center;
  background-size: cover;
}
.item {
  display: flex;
  width: 350px;
  background-color: #aeaeae;
  height: 5rem;
  margin-top: 1rem;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 1px 1px 10px #333;
  cursor: pointer;
}
.item-xl {
  height: 370px;
  width: 370px;
}
.item-lg {
  height: 320px;
  width: 370px;
}
.item-md {
  height: 300px;
  width: 370px;
}
.item-sm {
  height: 270px;
  width: 370px;
}
.item-xs {
  height: 250px;
  width: 370px;
}
.popup {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.popup .card {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 70vh;
  min-height: 600px;
  background-color: #aeaeae;
  margin-top: 5rem;
  position: relative;
}
.popup .card .bgc-img {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  background: url(../img/1coffee.jpg) no-repeat center center;
  background-size: 90%;
}
.popup .card .title {
  margin-top: 8rem;
  font-size: 2rem;
  font-family: 'ComfortaaBold', sans-serif;
}
.popup .card .text {
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  width: 90%;
}
.popup .card .close {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
.popup .card .close:before {
  content: '';
  position: absolute;
  height: 2px;
  display: block;
  width: 90%;
  background-color: #fff;
  margin-left: 2px;
  margin-top: 1rem;
  transform: rotate(45deg);
}
.popup .card .close:after {
  content: '';
  position: absolute;
  height: 2px;
  display: block;
  width: 90%;
  background-color: #fff;
  margin-left: 2px;
  margin-top: 1rem;
  transform: rotate(-45deg);
}
