* {
	border-style: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
}

.header {
	display: inline-block;
	width: 100%;
	height: 170px;
	background-color: #fff;
	z-index: 5;
}

.logo {
	display: inline-block;
	width: 100px;
	height: 50px;
}

.logo__logo {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: url(../img/lesson_5/logo.png) no-repeat center center;
	-webkit-background-size: 90%;
	background-size: 90%;
	margin-left: 5rem;
	margin-top: 1rem;
}

.menu {
	display: inline-block;
	width: 40%;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	top: -1rem;
	left: 25rem;
}

.menu_top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	-ms-align-items: center;
	flex-wrap: nowrap;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

.menu_top__punct {
	list-style: none;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.menu_top__link {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 700;
	color: #000;
}

.basket {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 1rem;
	font-weight: 600;
	position: relative;
	top: -1rem;
	left: 30%;
}

.basket__name {
	display: inline-block;
	text-transform: uppercase;
	position: relative;

}

.basket__name::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/lesson_5/cart.png) no-repeat center center;
	font-size: 90%;
	position: absolute;
	right: 2rem;
	top: -0.3rem;
}

.basket__quantity {
	display: inline-block;
	text-transform: uppercase;
	width: 20px;
	height: 20px;
	margin-left: 1rem;
	background-color: #e3e8f0;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
}

.button_sign_in	{
	display: inline-block;
	position: relative;
	left: 35%;
	top: -1rem;
}

.btn_sign {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8rem;
	font-family: 'Montserrat';
	border: 2px solid #e3e8f0;
	padding: 0.7rem 2rem;
	border-radius: 2rem;
	color: #000;
}

.categories-menu {
	text-transform: uppercase;
	width: 35%;
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-left: 5rem;
	font-size: 0.7rem;
	z-index: 2;
}

.categories-menu ul {
	justify-content: space-between;
}

.categories-menu ul li a {
	font-size: 0.8rem;
	color: #b9bed1;
}

.categories-menu ul li a:hover {
	color: #000;
}

.support {
	display: inline-block;
	position: relative;
	margin-left: 60%;
	top: -2rem;
}

.support__link {
	text-decoration: none;
	text-transform: uppercase;
	color: #d3d6e2;
	font-size: 0.8rem;
	font-family: 'Montserrat';
	font-weight: 600;
}

.main-page {
	background-color: #1c1e23;
	width: 100%;
	height: 100vh;
	min-height: 400px;
	position: relative;
	z-index: -1;
}

.main-page_text {
	display: inline-block;
	margin-left: 15rem;
	margin-top: 10rem;
}

.main_page__h2 {
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 3rem;
}

.main_page__p {
	display: inline-block;
	width: 500px;
	color: #fff;
	font-family: 'Crimson Text', serif;
	font-size: 1.2rem;
	font-weight: 400;
	padding-top: 3rem
}

.main_page__btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	position: relative;
	left: -31.5rem;
	top: 8rem;
	padding: 1rem 4rem;
	background-color: #2754eb;
	border-radius: 2rem;
	font-size: 1rem;
}

.main-page__picture {
	display: inline-block;
	width: 20%;
	height: 1000px;
	background: url(../img/lesson_5/iphone.png) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: -8rem;
	z-index: 0;
}
